html { 
    height: -webkit-fill-available;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    min-height: 100svh;
    min-height: -webkit-fill-available;
    margin: 0px;
    font-family: sans-serif;
    background-color: #FCDEE0;
}
.seccio {
    flex: 1;
    display: none;
}
#superior {
    display: flex;
    height: 8vmax;
    justify-content: center;
    align-items: center;
    font-size: 8vmax;
    color: white;
    background-color: #04c52b;
}
#menu {
    display: flex;
    height: 8vmax;
}
#menu i{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #04c52b;
    font-size: 6vmax;
    cursor: pointer;
}
#seccio_0 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 6vmax; /* Ajusta el tamaño del texto de los títulos de las secciones */
}
#credencials {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 3vmax;
    margin: 5vmin;
}
#credencials div {
    margin-bottom: 1vmin;
}
#credencials input {
    max-width: 20vmax;
    font-size: 3vmax;
}
#botons_sessio {
    display: flex;
    align-items: center;
}
#botons_sessio button {
    font-size: 3vmax;
    padding: 2vmin;
    margin: 1vmin;
}
#seccio_1, #seccio_2, #seccio_3, #seccio_4 #seccio_5 {
    font-size: 3vmax;
}
#tornar {
    position: absolute;
    top: 10px; /* Ajusta la distancia desde la parte superior */
    left: 10px; /* Ajusta la distancia desde la parte izquierda */
    z-index: 9999; /* Ajusta el índice z para que esté sobre otros elementos */
}
#menu {
    display: none;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

#menu i {
    margin: 5px;
}

#seccio_0 {
    margin-top: calc(8vmax + 40px); /* Espacio para evitar que el botón "tornar" se solape con el contenido */
}
#logo {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 90px; /* Elimina el ancho fijo y deja que el navegador calcule el ancho automáticamente */
    height: 90px; /* También puedes eliminar esto si quieres que la altura se ajuste automáticamente */
}
#seccio_4 {
    text-align: center;
    h2 {
        margin-top: 20px;
    }
    img {
        width: 70%; 
        height: 70%; 
        display: flex;
        margin: 0 auto; /* Centra la imagen horizontalmente */
    }
}
#dialogo {
    display: none;
}
#seccio_5 {
    display: none;
    flex-direction: column; /* Mostrar los elementos en columna */
    align-items: center; /* Centrar los elementos horizontalmente */
    text-align: center; /* Centrar el texto */
}

#seccio_5 button {
    margin-top: 10px; /* Agregar un espacio entre los botones */
}

#dialogo p {
    margin-bottom: 20px;
}

.oculto {
    display: flex;
}

.productos-container {
    display: flex; /* Muestra todos los elementos en línea horizontalmente */
    flex-wrap: nowrap; /* Evitar que los elementos se envuelvan a la siguiente línea */
    overflow-x: auto; /* Agregar desplazamiento horizontal si los elementos no caben en la pantalla */
}
.producte {
    flex: 1; /* Permite que los elementos se expandan para llenar el espacio disponible */
    max-width: 200px; /* Establece el ancho máximo para que los elementos no crezcan demasiado */
    margin: 10px; /* Agrega un espacio entre las imágenes */
    text-align: center; /* Centra el texto dentro de los contenedores */
}
.producte img {
    width: 100%; /* Establece el ancho de las imágenes al 100% del contenedor */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
}
