html { 
    height: -webkit-fill-available;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    min-height: 100svh;
    min-height: -webkit-fill-available;
    margin: 0px;
    font-family: sans-serif;
    background-color: #eae2d6;
}
.seccio {
    flex: 1;
    display: none;
}
#superior {
    background: linear-gradient(
        90deg,
        #549a3d 0%,
        #2b6226 77%);
    box-shadow: 0 0 20px #523000;
    display: flex;
    height: 8vmax;
    justify-content: center;
    align-items: center;
    font-size: 8vmax;
    color: white;
    background-color: #04c52b;
    border-radius: 90px;
    box-shadow: 0 0 20px rgb(75, 43, 2);
    padding: 20px;
}
#menu {
    display: flex;
    height: 8vmax;
    background: linear-gradient(
        90deg,
        #549a3d 0%,
        #2b6226 77%);
        border-radius: 20px;
}
#menu i{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 6vmax;
    cursor: pointer;
}
#menu i:hover{
    color:aqua;
}
#seccio_0 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 6vmax; /* Ajusta el tamaño del texto de los títulos de las secciones */
}
#credencials {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 3vmax;
    margin: 5vmin;
}
#credencials div {
    margin-bottom: 1vmin;
}
#credencials input {
    max-width: 20vmax;
    font-size: 3vmax;
}
#botons_sessio {
    display: flex;
    align-items: center;
}
#botons_sessio button {
    font-size: 3vmax;
    padding: 2vmin;
    margin: 1vmin;
}
#seccio_1, #seccio_2, #seccio_3, #seccio_4 #seccio_5 {
    font-size: 3vmax;
}
#tornar {
    position: absolute;
    left: 20px;
    top: 20px; /* Ahora el botón estará en la esquina superior izquierda */
    font-size: 20px;
}

#menu {
    display: none;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

#menu i {
    margin: px;
}

#seccio_0 {
    margin-top: calc(8vmax + 40px); /* Espacio para evitar que el botón "tornar" se solape con el contenido */
}
#logo {
    position: absolute; /* Posición absoluta para el logo */
    top: 10px; /* Distancia desde arriba */
    right: 10px; /* Distancia desde la derecha */
    width: 85px; /* Anchura del logo */
    height: auto; /* Altura se ajusta automáticamente para mantener la proporción */
}

#botella{
    flex-direction: column;
    align-items: flex-end;

}
#seccio_4 {
    text-align: center;
    margin-top: 40px;
    h2 {
        margin-top: 20px;
    }
    img {
        width: 70%; 
        height: 70%; 
        display: flex;
        margin: 0 auto; /* Centra la imagen horizontalmente */
    }
}
#seccio_5 {
#dialogo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

#dialogo p {
    margin-bottom: 20px;
}

.oculto {
    display: none;
}
}
.seccion-activa{
color: aqua !important;
}

#seccio_2 {
    margin-top: 100px; /* Mueve la tabla hacia abajo */
    margin-right: 20px;
}

.img{
    width: 300x;
    height: 300px;
}

.img2{
    width: 450px;
    height: 300px;
}

.img3{
    width: 400px;
    height: 300px;
}

.img4{
    width: 550px;
    height: 250px;
}

#menu {
    display: flex;
    justify-content: center; /* Centrar horizontalmente los elementos */
    align-items: center; /* Centrar verticalmente los elementos */
    height: 8vmax;
    background: linear-gradient(
        90deg,
        #549a3d 0%,
        #2b6226 77%);
    border-radius: 20px;
}

/* Estilos para la nueva sección */
#nueva_seccion {
    display: none; /* Por defecto oculta la nueva sección */
}

#tabla-productos{
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
}

#tabla{
    width: 800px;
    height: 50px;
    margin-top: 10px;
}

#tablaseccio5{
    width: 250px;
    height: 500px;
    margin-top: 10px;
}
#confirmar {
    width: 100px;
    height: 150px;
}
#cancelar {
    width: 100px;
    height: 150px;
}
