html { 
    height: -webkit-fill-available;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0px;
    font-family: sans-serif;
    background-color: #eae2d6;
}

#superior  {
    background: linear-gradient(
        90deg,
        #549a3d 0%,
        #2b6226 77%);
    box-shadow: 0 0 20px #523000;
    display: flex;
    height: 6vmax;
    justify-content: center;
    align-items: center;
    font-size: 8vmax;
    color: white;
    background-color: #04c52b;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(75, 43, 2);
    padding: 20px;
}

#logo {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 90px;
    height: 90px;
}

h2 {
    text-align: center;
}

#opciones_producto {
    text-align: center;
}

label {
    font-size: 3vmax;
}

select, input[type="number"] {
    font-size: 3vmax;
    margin-bottom: 10px;
}

button {
    font-size: 3vmax;
    padding: 10px 20px;
    margin: 10px;
}
#tornaralproducte {
    position: absolute;
    left: 10px;
    top: 10px;
    background: linear-gradient(
        90deg,
        #d0b983 0%,
        #817f46 77%);
    border-radius: 20px;
}
