html { 
    height: -webkit-fill-available;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0px;
    font-family: sans-serif;
    background-color: #eae2d6;
    margin-top: 100px; /* Mueve la tabla hacia abajo */
    margin-right: 20px;
}


#logo {
    position: absolute; /* Posición absoluta para el logo */
    top: 10px; /* Distancia desde arriba */
    right: 10px; /* Distancia desde la derecha */
    width: 85px; /* Anchura del logo */
    height: auto; /* Altura se ajusta automáticamente para mantener la proporción */
}


h2 {
    text-align: center;
}

#opciones_producto {
    text-align: center;
}

label {
    font-size: 3vmax;
}

select, input[type="number"] {
    font-size: 3vmax;
    margin-bottom: 10px;
}

button {
    font-size: 3vmax;
    padding: 10px 20px;
    margin: 10px;
}
#tornaralproducte {
    position: absolute;
    left: 10px;
    top: 10px;
    background: linear-gradient(
        90deg,
        #d0b983 0%,
        #817f46 77%);
    border-radius: 20px;
}
